<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinkan</title>

    <script src="https://cdn.jsdelivr.net/npm/latex.js/dist/latex.js"></script>
    <style>
      latex-js {
        display: inline-block;
        width: 40%;
        border: 1px solid red;
        margin-right: 2em;
      }
    </style>
    <link rel="stylesheet" href="bulma.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body style="margin: 10px; max-height:100%;">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a
          href="/"
          class="navbar-item fa"
          style="
            font-weight: 800;
            padding: 10px;
            width: fit-content;
            margin: auto;
            font-size: 30px;
            text-align: center;
          "
        >
          &#xf104;
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> Home </a>

          <a class="navbar-item" href="/learn"> Learn </a>

          <a class="navbar-item" href="/about"> About </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a
                class="button is-warning"
                style="font-size: 25px; padding: 10px; height: fit-content"
              >
                <strong>Share</strong>
              </a>
              <a
                class="button is-warning"
                style="font-size: 25px; padding: 10px; height: fit-content"
              >
                <strong>Download</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div style="display: flex">
      <div
        style="
          border: 2px solid #000;
          float: left;
          width: 100%;
          height: 87vh;
          margin: 10px;
          overflow: hidden;
        "
      >
        <textarea
          id="editor"
          style="
            background-color: #fff;
            color: #000;
            border: 0px;
            width: 100%;
            height: 100%;
            padding: 20px;
            padding-left: 40px;
            font-size: 25px;
            
          "
        >
\documentclass{article} 

\usepackage{textgreek,textcomp,gensymb,stix}

\title{Dinkan}
\author{made with $\varheartsuit$ by Sreeram Venkitesh}
\date{October 2020}

\begin{document} 

\maketitle
\section{How to Use}


\end{document}
        </textarea>
      </div>
      <div
        style="
          border: 2px solid #000;
          float: right;
          width: 100%;
          min-height: 87vh;
          margin: 10px;
          max-height: 87vh;
          overflow-y:scroll;
          position:relative;
        "
      >
        <latex-js
          id="latex"
          baseURL="https://cdn.jsdelivr.net/npm/latex.js/dist/"
          style="
            border: 0px;
            width: 100%;
            height: 100%;
            max-height: 87vh;
            padding: 20px;
            padding-left: 40px;
          "
        >
        </latex-js>
      </div>
    </div>

    <script src="./editor.js"></script>
  </body>
</html>
