<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinkan</title>
    <link rel="stylesheet" href="bulma.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body style="margin: 10px">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href='/' class="navbar-item fa" style="font-weight: 800; padding:10px; width:fit-content; margin:auto; font-size: 30px; text-align:center;">
            &#xf104;
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> Home </a>

          <a class="navbar-item" href="/learn"> Learn </a>

          <a class="navbar-item" href="/about"> About </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a
                class="button is-warning"
                style="font-size: 25px; padding: 10px; height: fit-content"
              >
                <strong>Share</strong>
              </a>
              <a
                class="button is-warning"
                style="font-size: 25px; padding: 10px; height: fit-content"
              >
                <strong>Download</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div style="display:flex;">
      <div style="border: 2px solid #000; float:left; width:100%; height:100%; margin:10px;">
        <br><br>
      </div>
      <div style="border: 2px solid #000; float:right; width:100%; height:100%; margin:10px;">
        <br><br>
      </div>
    </div>
  </body>
</html>
