<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinkan</title>
    <link rel="icon" 
      type="image/png" 
      size="16x16"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/google/263/star_2b50.png">
    <script src="https://cdn.jsdelivr.net/npm/latex.js/dist/latex.js"></script>
    <style>
      latex-js {
        display: inline-block;
        width: 40%;
        border: 1px solid black;
        margin-right: 2em;
      }
      #messages li { word-break: break-all; font-size: 1rem; font-weight: bold; color: black; padding-left: 10px; }
      #messages li:nth-child(odd) {background: #facdcdd3} 
      #messages li:nth-child(even){background: #b7f3c4e8}
    </style>
    <link rel="stylesheet" href="../bulma.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script>
      const roomId = '<%= roomId %>'
      console.log(roomId);
    </script>    
  </head>

  <body style="margin: 10px; max-height: 100%">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a
          href="/"
          class="navbar-item fa"
          style="
            font-weight: 800;
            padding: 10px;
            width: fit-content;
            margin: auto;
            font-size: 30px;
            text-align: center;
            margin-right:10px;
          "
        >
          &#xf104;
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a
            class="button navbar-item"
            onclick="insert('section')"
            style="margin: auto; margin-right:10px; padding: 10px; font-size:18px;"
          >
            Section
          </a>

          <a
            class="button navbar-item"
            onclick="insert('listitem')"
            style="margin: auto; margin-right:10px; padding: 10px; font-size:18px;"
          >
            List Item
          </a>

          <a
            class="button navbar-item"
            onclick="insert('eqn')"
            style="margin: auto;margin-right:10px; padding: 10px; font-size:18px;"
          >
            Equation
          </a>
        </div>

        <div class="navbar-end" style="margin-right: 10px;">
          <div class="navbar-item">
            <div class="buttons">
              <a
                id='countView'
                class="button is-success is-outlined"
                style="font-size: 25px; padding: 10px; height: fit-content; font-weight: bold;"
                
              >nline</a>


              <a
                id='logButton'
                class="button is-warning"
                style="font-size: 25px; padding: 10px; height: fit-content; font-weight: bold;background-color: rgb(101, 187, 245);"
                onclick="toggleLog()"
              >
                Show Log
              </a>
              <a
                id='shareButton'
                class="button is-warning"
                style="font-size: 25px; padding: 10px; height: fit-content; background-color: chartreuse;"
              >
                <strong>Share</strong>
              </a>
              <a
                id='downloadButton'
                class="button is-warning"
                style="font-size: 25px; padding: 10px; height: fit-content"
              >
                <strong>Download</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div style="display: flex" >
      <div
        style="
          border: 2px solid #000;
          float: left;
          width: 100%;
          height: 80vh;
          margin: 10px;
          overflow: hidden;
        "
      >
        <textarea
          id="editor"
          style="
            background-color: #fff;
            color: #000;
            border: 0px;
            width: 100%;
            height: 100%;
            padding: 20px;
            padding-left: 40px;
            font-size: 25px;
          "
        >
\documentclass{article} 

\usepackage{textgreek,textcomp,gensymb,stix}

\title{Dinkan}
\author{made with $\varheartsuit$ by Sreeram Venkitesh}
\date{October 2020}

\begin{document} 

\maketitle
\section{How to Use}


\end{document}
        </textarea>
      </div>
      <div
        style="
          border: 2px solid #000;
          float: right;
          width: 100%;
          min-height: 80vh;
          margin: 10px;
          max-height: 80vh;
          overflow-y: scroll;
          position: relative;
          
        "
      >
        <latex-js
          id="latex"
          baseURL="https://cdn.jsdelivr.net/npm/latex.js/dist/"
          style="
            border: 0px;
            width: 100%;
            height: 100%;
            max-height: 80vh;
            padding: 20px;
            padding-left:40px;
          "
        >
        </latex-js>
      </div>
    </div>

    <!-- dark edited from here -->

    <div style="display: none" id="logBox">

      <div style="border: 2px solid #000;
      float: left;
      width: 100%;
      height: 20vh;
      margin: 10px;
      overflow: hidden; overflow-y: scroll" >
        <ul id="messages" >
        <li>Started Logging......</li>
        </ul>
      </div>

    </div>
    <!-- dark edited to here -->

    <script src="/socket.io/socket.io.js"></script>
    <script src="../editor.js"></script>
    <!--dark edits-->
    <script >
      function toggleLog() {
        
        var contentId = document.getElementById("logBox");
        var logButton = document.getElementById("logButton");
       
        contentId.style.display == "flex" ? contentId.style.display = "none" : contentId.style.display = "flex"; 
        logButton.innerHTML == "Hide Log" ? logButton.innerHTML = "Show Log" : logButton.innerHTML = "Hide Log"; 
      }
      </script>
      <!--dark edits-->

  </body>
</html>
