<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinkan</title>
    <link rel="stylesheet" href="bulma.css" />
    <link rel="icon" 
      type="image/png" 
      size="16x16"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/google/263/star_2b50.png">
    <!-- Primary Meta Tags -->
    <meta name="title" content="Dinkan">
    <meta name="description" content="The 21st century LaTeX editor">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="dinkan-editor.herokuapp.com">
    <meta property="og:title" content="Dinkan">
    <meta property="og:description" content="The 21st century LaTeX editor">
    <meta property="og:image" content="https://pbs.twimg.com/media/Cex4fG9W4AExsCO.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="dinkan-editor.herokuapp.com">
    <meta property="twitter:title" content="Dinkan">
    <meta property="twitter:description" content="The 21st century LaTeX editor">
    <meta property="twitter:image" content="https://pbs.twimg.com/media/Cex4fG9W4AExsCO.jpg">

  </head>
  <body style="margin: 10px">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1 class="navbar-item" style="font-weight: 800; font-size: 30px">
          Dinkan
        </h1>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href='/'> Home </a>

          <a class="navbar-item" href='/learn'> Learn </a>

          <a class="navbar-item" href='/about'> About </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            
            <div class="buttons">
              <a
              id="startButton"
              class="button is-warning"
              style="font-size: 25px; padding: 10px; height: fit-content"
            >
              <strong>Start</strong>
            </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="modal" id="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head" style="text-align: center;">
          <p class="modal-card-title">Join/Create room!</p>
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
          <div style="border:1px solid #333; width:fit-content; padding:20px; text-align: center; margin:0 auto;">
            <form action="/" method="POST">
                <input class="input" type="text" name="nickname" id="nickname" style="width: fit-content; font-size:larger;" placeholder="Enter Name"><br><br>
                <button class="button is-primary" type="submit" style="font-size: larger;" id="createButton">Create Room</button>
            </form>
          </div><br><h2><strong><center>OR</center></strong></h2><br>

          <div style="border:1px solid #333; width:fit-content; padding:20px; text-align: center; margin:0 auto;">
              <form action="/join" method="POST">
                  <input class="input" type="text" name="code" id="code" style="width: fit-content; font-size:larger;" placeholder="Enter Code"><br><br>
                  <input class="input" type="text" name="uname" id="uname" style="width: fit-content; font-size:larger;" placeholder="Enter Name"><br><br>
                  <button class="button is-primary" type="submit" style="font-size: larger;" id="joinButton">Join room</button>
              </form>
          </div>
        </section>
        <footer class="modal-card-foot">
        </footer>
      </div>
      <button id="modalClose" class="modal-close is-large" aria-label="close"></button>
    </div>

    <div style="text-align: center">
      <br /><br />
      <img src="/dinkan.jpg" width="1000px" height="auto" />
      <h1 class="subtitle is-1">The 21st century LaTeX editor</h1>
    </div>
    <!--dark test edit-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!--dark test edit-->
    
    <script>
      const startButton = document.getElementById('startButton');
      const modal = document.getElementById('modal')
      const modalClose = document.getElementById('modalClose')
      document.getElementById("createButton").onclick = function() {createFunction()};
      document.getElementById("joinButton").onclick = function() {joinFunction()};
      function createFunction() {
      nickname = document.getElementById("nickname").value;
      if(nickname=="")
      {
        nickname="nameless idiot";
      }
      sessionStorage.setItem("nickname", nickname);
      document.getElementById("nickname").value="";
    }
    function joinFunction() {
      uname = document.getElementById("uname").value;
      if(name=="")
      {
        nickname="nameless idiot";
      }
      sessionStorage.setItem("nickname", uname);
      document.getElementById("uname").value="";
      
    }


      startButton.addEventListener('click',()=>{
        modal.className = "modal is-active"
      })

      modalClose.addEventListener('click',()=>{
        modal.className = 'modal'
      });
    </script>
  </body>
</html>
