<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinkan</title>
    <link rel="stylesheet" href="bulma.css" />
    <link rel="icon" 
      type="image/png" 
      size="16x16"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/google/263/star_2b50.png">
    <!-- Primary Meta Tags -->
    <meta name="title" content="Dinkan">
    <meta name="description" content="The 21st century LaTeX editor">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="dinkan-editor.herokuapp.com">
    <meta property="og:title" content="Dinkan">
    <meta property="og:description" content="The 21st century LaTeX editor">
    <meta property="og:image" content="https://pbs.twimg.com/media/Cex4fG9W4AExsCO.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="dinkan-editor.herokuapp.com">
    <meta property="twitter:title" content="Dinkan">
    <meta property="twitter:description" content="The 21st century LaTeX editor">
    <meta property="twitter:image" content="https://pbs.twimg.com/media/Cex4fG9W4AExsCO.jpg">

  </head>
  <body style="margin: 10px">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1 class="navbar-item" style="font-weight: 800; font-size: 30px">
          Dinkan
        </h1>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href='/'> Home </a>

          <a class="navbar-item" href='/learn'> Learn </a>

          <a class="navbar-item" href='/about'> About </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a
                class="button is-warning"
                style="font-size: 25px; padding: 10px; height: fit-content"
                href='/editor'
              >
                <strong>Start</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div style="text-align: center">
      <br /><br />
      <img src="/dinkan.jpg" width="1000px" height="auto" />
      <h1 class="subtitle is-1">The 21st century LaTeX editor</h1>
    </div>
  </body>
</html>
